@font-face {
  font-family: metropolis;
  src: url('../font/Metropolis-Regular.otf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: metropolis;
  src: url('../font/Metropolis-Medium.otf');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: metropolis;
  src: url('../font/Metropolis-Bold.otf');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: metropolis;
  src: url('../font/Metropolis-ExtraBold.otf');
  font-style: normal;
  font-weight: 800;
}
html{
  font-size: 16px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'metropolis', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F4F6FB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
